.x {
    width: 30vh;
    height: 30vh;
    /* background-color: red; */
}


/*for the animated petals*/
.animated {
    animation: petal 10s, gravity 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes petal {
        10% {
            translate: 15vw;
        }
        20% {
            translate: -20vw;
        }
        30% {
            translate: 30vw;
        }
        40% {
            translate: -50vw;
        }
        50% {
            translate: 75vw;
            opacity: 100%;
        }
        60% {
            translate: -100vw;
        }
        70% {
            translate: 150vw;
        }
        80% {
            translate: -150vw;
        }
        100% {
            translate: 175vw;
            opacity: 0%;
        }
    }
@keyframes gravity {
    100% {
        translate: 0 300vh;
    }
}

.petal {
    position: absolute;
}

/* Just for test */
#petal0 {
    /* background-color: red; */
    position: absolute;
    top: -38vh;
    left: 4vh;
}

#petal1 {
    /* background-color: green; */
    position: absolute;
    top: -30vh;
    left: -12vh;
    transform: rotate(-45deg);
}

#petal2 {
    /* background-color: yellow; */
    position: absolute;
    top: -14vh;
    left: -20vh;
    transform: rotate(-90deg);
}

#petal3 {
    /* background-color: orange; */
    position: absolute;
    top: -14vh;
    left: 20vh;
    transform: rotate(90deg);
}

#petal4 {
    /* background-color: plum; */
    position: absolute;
    top: -30vh;
    left: 20vh;
    transform: rotate(60deg);   
}

#petal5 {
    /* background-color: wheat; */
    position: absolute;
    top: 2vh;
    left: 15vh;
    transform: rotate(135deg);
}

#petal6 {
    /* background-color: gold; */
    position: absolute;
    top: 4vh;
    left: -7vh;
    transform: rotate(-150deg);
}


/** APLLY TEXTURES **/
#petal0, #petal3, #petal5 {
    /* petal 1 */
    background-image: url("../Assets/Images/petal1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#petal1, #petal4 {
    /* petal 2 */
    background-image: url("../Assets/Images/petal1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#petal2, #petal6 {
    /* petal 3 */
    background-image: url("../Assets/Images/petal1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}