.x {
    width: 20vh;
    height: 20vh;
    background-color: red;
}


/*for the animated petals*/
.animated {
    animation: petal 10s, gravity 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes petal {
        10% {
            translate: 15vw;
        }
        20% {
            translate: -20vw;
        }
        30% {
            translate: 30vw;
        }
        40% {
            translate: -50vw;
        }
        50% {
            translate: 75vw;
            opacity: 100%;
        }
        60% {
            translate: -100vw;
        }
        70% {
            translate: 150vw;
        }
        80% {
            translate: -150vw;
        }
        100% {
            translate: 175vw;
            opacity: 0%;
        }
    }
@keyframes gravity {
    100% {
        translate: 0 300vh;
    }
}

.petal {
    position: absolute;
}

/* Just for test */
#petal0 {
    background-color: red;
    position: absolute;
    top: -30vh;
    left: 5vh;
}

#petal1 {
    background-color: green;
    position: absolute;
    top: -22.5vh;
    left: -10vh;
}

#petal2 {
    background-color: yellow;
    position: absolute;
    top: -10vh;
    left: -15vh;   
}

#petal3 {
    background-color: orange;
    position: absolute;
    top: -10vh;
    left: 20vh;   
}

#petal4 {
    background-color: plum;
    position: absolute;
    top: -25vh;
    left: 20vh;   
}

#petal5 {
    background-color: wheat;
    position: absolute;
    top: 5vh;
    left: 15vh;   
}

#petal6 {
    background-color: gold;
    position: absolute;
    top: 5vh;
    left: -5vh;   
}
