
/* Set the global style*/
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #4e4e4e4e
}

#main-title {
    color: #262626;
    text-decoration: underline;

    font-size: 4em;
    font-family:'Times New Roman', Times, serif;

    position: absolute;
    left: 50vw;
    top: 4vh;
    transform: translate(-50%, 0);

}


/*Center the 🥖tige🥖*/
#tige.img  {
    /*position*/
    width: 90vw;
    height: 300vh;
    position: absolute;
    left: 50vw;
    transform:  translate(-50%, 60vh);

    /*image*/
    background-image: url("../Assets/Images/tige.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}
/*flower center*/
.flower {
    /*position*/
    position: absolute;
    left: 50%;
    transform: translate(-60%, -50%);

    /*shape of you*/
    /* width: 30vh;
    height: 30vh; */
}

.center {
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
   
    background-image: url("../Assets/Images/pistile.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    z-index: 1;
}

.petal-wrapper {
    position: absolute;
    top: 50%; 
    background-color: aquamarine;
    z-index: -1;
}
