/** INFOS **/
#background.infos {
    /*position*/
    position: absolute;
    top: 300vh;
    left: 50vw;
    transform: translate(-50%, -40%);

    width: 90vw;
    height: 90vh;


    backdrop-filter: blur(2em);
    color: black;
}


/** GENERAL (across all infos pages) **/
#mainTitle {
    color: #4e4e4e;

    position: relative;
    top: 4%;
    left: 35%;

    font-size: 3em;
    text-decoration: underline;
}
.subtitle {
    text-decoration: underline;
    font-size: 2em;
}
/* make the boxes centered */
.wrapper#infos {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* box to store each individual informations */
.box {
    padding-left: 10%;
    padding-right: 10%;
}


/** PAGE INGENIEUR INFORMATIQUE **/
.subtitle#ingenieur {
    padding-bottom: 1em;
}

.box#ingenieur {
    padding-top: 10%;
}
